body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color:  #333333;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
  }
   
  .sidebar a.active {
    background-color: green;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: red;
    color: white;
  }
  
  div.content {
    padding: 1px 16px;
    height: 100%;
    width: 80%;
    float: right;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }